.not-found__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    margin-top: 184px;
    color: #000000;
}

@media screen and (max-width: 320px) { 
	.not-found__subtitle  { 
        font-size: 12px;
        line-height: 15px;
        margin-top: 309px;
	} 
} 