.profile__edit {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-self: center;
    color: #000000;
    background-color: transparent;
    border:none
}

.profile__edit:hover {
    cursor: pointer;
}