 .seach__container {
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    height: 70px;
    background: #F9F9F9;
    border-radius: 9px;
    justify-content: space-between;

 }



 
 @media screen and (max-width: 320px) { 
    .seach__container {
        flex-direction: column;
        max-width: 1140px;
        height: 70px;
        border-radius: 9px;
        background: none;
	} 
}