.seach__container_type_checkbox {
    display: flex;
    flex-direction: row;
}



@media screen and (max-width: 320px) { 
    .seach__container_type_checkbox {
        margin-top: 45px;
        margin-bottom: 44px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
}