.seach__container_type_input {
    display: flex;
    flex-direction: row;
    width: 900px;
    justify-content: space-between;
}
@media screen and (max-width: 590px) { 
    .seach__container_type_input {
        max-width: 545px;
        margin-top: 13px;
    }
 }


/* @media screen and (max-width: 520px) { 
    .seach__container_type_input {
        width: 500px;
    }
 } */


@media screen and (max-width: 320px) { 
    .seach__container_type_input {
        display: flex;
        flex-direction: row;
        width: 280px
    }
 }