.page__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    margin: 0;
    letter-spacing: -0.04em;
    color: #000000;
    padding-top: 110px;
    padding-bottom: 23px;
    border-bottom: 1px solid black;
 
    max-width: 1140px;
}