.about__diagram-time_short {

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        
        color: #FFFFFF;
    

    

        color: white;
        padding: 9px 14px;
        margin: 0 auto;

}