.login__save-button_auth-page { 
    margin-top: 220px;
    background: #000000; 
    border-radius: 2px; 
    color: white;
    
 
}



.login__save-button_auth-page_active:hover {
    cursor: pointer;
    opacity: 0.7;
}
