.about__diagram-time_long {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;


    padding: 9px 0;
    color: black;
    margin: 0 auto;

}