.movies__button {
    width: 320px;
    height: 36px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #E8E8E8;
    
    border-radius: 5px;
    text-align: center;
    margin-bottom: 150px;
}

.movies__button:hover {
    cursor: pointer;
    opacity: 0.7;
}


@media screen and (max-width: 320px) { 
    .movies__button {
        width: 240px;
    }
 }
