.student__job {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    mix-blend-mode: normal;
    margin: 0;
    margin-bottom: 26px;

}
@media screen and (max-width: 768px) { 
	.student__job { 
        font-size: 12px;
        line-height: 18px;
	} 
} 

@media screen and (max-width: 320px) { 
	.student__job { 
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 20px;
	} 
} 