 .profile__input { 
    width: 364px;
    border: none;
    margin-top: 30px;
    outline: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 13px;
    text-align: end;
} 
 
 
@media screen and (max-width: 768px) { 
	.profile__input  { 
		max-width: 580px; 
	} 
} 
 
@media screen and (max-width: 470px) { 
	.profile__input  { 
		width: 238px; 
	} 
} 