.header_type_login {
    max-width: 396px;
    align-items: baseline;
    margin-top: 70px;
    flex-direction: column;
}

@media screen and (max-width: 320px) { 
	.header_type_login  { 
        align-items: center;
	} 
} 