.student__about {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    mix-blend-mode: normal;
    margin: 0;
}

@media screen and (max-width: 768px) { 
	.student__about { 
        font-size: 12px;
        line-height: 18px;
	} 
} 

@media screen and (max-width: 320px) { 
	.student__about { 
        font-size: 11px;
        line-height: 16px;
	} 
} 