 .seach__input {
     max-width: 750px;
     border: none;
     background: #F9F9F9;
 }

 .seach__input:focus   {
    outline: none;
 }

 .fas{
    display: flex;
    flex-direction: row;
}

 @media screen and (max-width: 320px) { 
    .seach__input {
        width: 278px;
        padding: 25px 0 25px 13px;
	} 
}